
<h1>Dictionary</h1>
<br>
<h2>list of all you words</h2>

<ul>
  <% @words.each() do |word| %>
    <li><a href="/definition/<%= word.id() %>"><%= word.name() %></a></li>
  <% end %>
</ul>


<a href="/">home</a>
