
<h1>Dictionary</h1>
<br>
<h2>list of all you words</h2>

<ul>
  <% @words.each() do |word| %>
    <li><%= word.name() %></li>
  <% end %>
</ul>


<a href="/word/new"><button type="button" name="button">add a new word to the dictionary</button></a>
