<h1>Add a word</h1>

<form action="/words" method="post">
  <label for="word">New Word</label>
  <input type="text" name="word" id="word" required>
  <button type="submit">Add</button>
</form>
<form class="" action="/home" method="get">
  <button type="submit" name="home">return home</button>
</form>
